.env
.venv
__pycache__/
*.pyc
*.py[cod]
/context
/test/output/
.chainlit/
/test/as.py
/test/em.py
/data
.files/
/logs
to change.txt
.deepeval/
trace-019eca5f-f5eb-7e72-acb2-3d8937c94304.json
.agents/
.serena/